<h1>Listing breweries</h1>
<p>Number of breweries: <%= @breweries.count %></p>

<%= render 'breweries/table', breweries: @breweries %>
<%= link_to 'New Brewery', new_brewery_path, class: 'btn btn-primary' %>
